<!doctype html>
<html lang="en-US">
<head>
    <title>AGDP</title>
    <style>
        body {
            background-image: url('../static/pics/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .modal-background {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: auto;
            padding: 6rem;
            z-index: 6;
            background-image: linear-gradient(to right, #8360c3, #2ebf91);
            filter: blur(50px);
            opacity: 0.5;
            overflow: hidden;
        }
    </style>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/gamepage/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/gamepage/print.css" type="text/css" media="print"/>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='../static/gamepage/js/jquery-3.0.0.min.js'></script>
    <script src='../static/gamepage/js/jquery-migrate-3.0.1.min.js'></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="home sticky-menu sidebar-off" id="top">

<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <a href="market?con_id={{con_id}}" title="Go to Home">AGDP</a> <!--这里把链接换成返回主菜单的-->
            </div>
        </div><!-- /logo -->

    </div>

</header>


<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main">


            <article class="post has-post-thumbnail">

  		        <span class="post-image">
                    <img width="916" height="611" src="/static/pics/{{id}}.jpg" alt="">
                    <!--更换这里的图片可以改主页面最大的那个图片-->
  		        </span>


                <div class="inner">

                    <h1 class="entry-title">{{name}}</h1> <!--这个地方改成游戏名-->
                    <ul class="meta top">
                        <li class="time">
                            <time class="post-date updated" datetime="2015-02-02">{{release_date}}</time><!--这里改成发行的时间-->
                        </li>
                        <li class="author-m">
                            Publisher: <span class="vcard author"><span class="fn">{{pub_name}}</a></span></span>
                        </li><!--这里改成发行公司的名字-->
                        <li class="author-m">
                            Developer:
                            {% for dev in dev_name%}
                            <span class="vcard author"><span class="fn">{{dev}}</a></span></span>
                            {% endfor %}
                        </li><!--这里改成开发公司的名字-->

                    </ul>
                    <div class="post-content">
                        <blockquote><p>“You are lucky!!!This fun game is on sale at a lower price!!!”<cite>Price: {{price}}$</cite></p>
                            <div class="btn">
                                <button type="submit">Purchase</button>
                            </div>
                        </blockquote><!--这里换成price-->
                    </div>

                    <ul class="meta bottom">
                        
                        <li class="cat">TAGS of this game:</li> <!--这里换成游戏的tags-->
                        
                    </ul>
                    <ul class="meta bottom">
                        {% for tag in tags%}
                        <li class="cat">{{tag}}</li> <!--这里换成游戏的tags-->
                        {% endfor %}
                    </ul>
                    <div class="post-content">
                        <blockquote><p>Rating this game:
                            <div class="container">
                                <div class="star-widget">
                                    <input type="radio" name="rate" id="rate-5">
                                    <label for="rate-5">terrible</label>
                                    <input type="radio" name="rate" id="rate-4">
                                    <label for="rate-4">bad</label>
                                    <input type="radio" name="rate" id="rate-3">
                                    <label for="rate-3">average</label>
                                    <input type="radio" name="rate" id="rate-2">
                                    <label for="rate-2">good</label>
                                    <input type="radio" name="rate" id="rate-1">
                                    <label for="rate-1">excellent</label>
                                    <form action="#">
                                        <div class="btn">
                                            <button type="submit">Post</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </blockquote>
                    </div>

                </div>





            <div class="related-posts">

                <h5>Same tag games</h5>

                <div class="posts">

                    
                    {% for recommand in recommands %}
                    <aside class="related post has-post-thumbnail">

  		                <span class="post-image">
                            <a href="/game?game_id={{recommand[0]}}" title="The Apothecary">
                                <img width="468" height="468" src="/static/pics/{{recommand[0]}}.jpg" alt=""></a><!--更换成正确的图片-->
                        </span>


                        <div class="inner">

                            <h6 class="entry-title">

                                <a href="/game?game_id={{recommand[0]}}" title="The Apothecary">
                                    {{recommand[1]}}  <!--这里改成游戏的名字和对应的游戏链接-->
                                </a>
                                <ul class="meta top">
                                    <li class="time">
                                        <time class="price">Price: {{recommand[2]}}$</time> <!--这里改成游戏对应的价钱-->
                                    </li>
                                </ul>

                            </h6>

                        </div>
                    </aside>
                    {% endfor %}


                </div></div>

                <div class="Recruiting a Publisher">

                    <div id="comments" class="inner">
    
                        <div class="comments-inner"><h3 id="respond-title">JOIN US?</h3></div>
    
                        <aside class="comments">
                        </aside>
    
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">Leave the information of your game <small><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></small></h3>
                            <form>
                                <p><label for="url">Game Name</label><input id="url" name="url" type="text" value="" size="30" placeholder="Game Name"></p>    
                                <p><label for="url">Developer</label><input id="url" name="url" type="text" value="" size="30" placeholder="Developer"></p>
                                <p><label for="url">Publisher</label><input id="url" name="url" type="text" value="" size="30" placeholder="Publisher"></p>
                                <p><label for="url">Price</label><input id="url" name="url" type="text" value="" size="30" placeholder="Price"></p>
                                <p><label for="url">Release time</label><input id="url" name="url" type="text" value="" size="30" placeholder="Release time"></p>
                                <p><label for="url">TAGS</label><input id="url" name="url" type="text" value="" size="30" placeholder="TAGS"></p>
                                <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="join us"></p>
                            </form>

                            <h4 id="reply-title" class="comment-reply-title">You need to offer one game photo: <small><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></small></h4>
                            

                            <form class="img-upload" onsubmit="return false" enctype="multipart/form-data">
                                <p>
                                <label for="url">photo</label>
                                <input id="url" name="url" type="file" value="" size="30" placeholder="photo">
                                <button>Upload Picture</button>
                                </p> 
                            </form>

                        </div><!-- #respond -->
    
                    </div>
    
                </div>
               


        </section>


    </div><!-- /main-wrap -->


</div><!-- /wrap -->



<script>var ie9 = false;</script>
<!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
<script src="../static/gamepage/js/global-plugins.min.js"></script>
<script src="../static/gamepage/js/main.js"></script>

<script>
    $('.img-upload button').on('click', function(){
        var formData = new FormData();
        // formData.append('file', $('.img-upload')[0].files[0]);

        $.ajax({
            url : '/publisher/add-game',
            type : 'POST',
            dataType: 'json',
            data: formData,
            processData: false,
            success: function(){
                alert('success');
            },
            error: function(){
                alert('failed');
            }
        })
    });

</script>


</body>
</html>

