<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGDP</title>
    <style>
        body {
            background-image: url('/static/pics/homebg.jpg');
            background-repeat: no-repeat;
            background-size: cover
        }
    </style>
    <link rel="stylesheet" href="/static/consumer/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/consumer/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/consumer/css/templatemo-style.css">

    <link rel="stylesheet" href="/static/confirm-pop-up/style.css">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-gamepad" style="color:beige"></i>
                <span style="color: beige">AGDP {{name[0][0]}}</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/market?con_id={{con_id}}" style="color: beige">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="/consumer?con_id={{con_id}}" style="color:beige">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/barter?con_id={{con_id}}" style="color:beige">Barter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3"  style="color:beige"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3"  style="color:beige"></a>
                </li>
                <li style="margin-left: 60px;">
                    <a class="nav-link nav-link-4" href="/" style="color:beige">log out</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary" style="color:beige">
                Featured & Recommended
            </h2>
            <!-- <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                    Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 200
                </form>
            </div> -->
        </div>
        
        <div class="row tm-mb-90 tm-gallery">

        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/static/pics/3590.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <!--游戏标题-->
                        <h2>Plants V.S Zombies</h2>
                        <a href="/game?game_id=3590&con_id={{con_id}}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <!--发售时间-->
                    <span class="tm-text-gray-light">6 May 2009</span>
                    <!--价格-->
                    <span class="tm-text-gray-light">24.99$</span>
                    <!--购买按钮-->
                    <button class="btn btn-secondary btn-sm" type="submit" id="3590">Purchase</button>
                    
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/static/pics/1091500.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Cyberpunk 2077</h2>
                        <a href="/game?game_id=1091500&con_id={{con_id}}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">10 Dec 2020</span>
                    <span class="tm-text-gray-light">59.99$</span>
                    <button class="btn btn-secondary btn-sm" type="submit" id="1091500">Purchase</button>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/static/pics/1144200.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Ready Or Not</h2>
                        <a href="/game?game_id=1144200&con_id={{con_id}}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">17 Dec 2021</span>
                    <span class="tm-text-gray-light">39.99$</span>
                    <button class="btn btn-secondary btn-sm" type="submit" id="1144200">Purchase</button>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/static/pics/1174180.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Red Dead Redemption 2</h2>
                        <a href="/game?game_id=1174180&con_id={{con_id}}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">5 Dec 2019</span>
                    <span class="tm-text-gray-light">19.79$</span>
                    <button class="btn btn-secondary btn-sm" type="submit" id="1174180">Purchase</button>
                </div>
            </div>

            
        </div> <!-- row -->
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary" style="color:beige">
                Browse by category
            </h2>
        </div>
        {% for order in order_list %}
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary" style="color:beige">
                {{cate_list[order]}}
            </h2>
        </div>
        <!-- 做一个根据类别展示不同游戏的gallery栏 -->
        <div class="row tm-mb-90 tm-gallery">
            {% for game in game_info[order] %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/static/pics/{{game[0]}}.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <!--游戏标题-->
                        <h2>{{game[1]}}</h2>
                        <a href="/game?game_id={{game[0]}}&con_id={{con_id}}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <!--发售时间-->
                    <span class="tm-text-gray-light">{{game[2]}}</span>
                    <span class="tm-text-gray-light">{{game[3]}}$</span>
                    <button class="btn btn-secondary btn-sm" type="submit" id="{{game[0]}}">Purchase</button>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <!-- jinja template version -->
        <!-- TODO -->
        
        <!-- row -->
    </div>


    <!-- pop up window -->
    <div class="modal-confirm" style="display: none" id="success">
        <button class="close-button">&times;</button>

        <div class="check" style="position: absolute; top:50%">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <circle style="fill:#25AE88;" cx="25" cy="25" r="25"/>
        <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
        38,15 22,33 12,25 "/>
    </svg>


    </div>
    <div class="prompt">
        Purchase Completed!
    </div>
    </div>

    


        <!-- page button -->

        <!-- <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a href="javascript:void(0);" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
                <div class="tm-paging d-flex">
                    <a href="javascript:void(0);" class="active tm-paging-link">1</a>
                    <a href="javascript:void(0);" class="tm-paging-link">2</a>
                    <a href="javascript:void(0);" class="tm-paging-link">3</a>
                    <a href="javascript:void(0);" class="tm-paging-link">4</a>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary tm-btn-next">Next Page</a>
            </div>            
        </div> -->
    
    <!-- container-fluid, tm-container-content -->

    <!-- <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">About Catalog-Z</h3>
                    <p>Catalog-Z is free <a rel="sponsored" href="https://v5.getbootstrap.com/">Bootstrap 5</a> Alpha 2 HTML Template for video and photo websites. You can freely use this TemplateMo layout for a front-end integration with any kind of CMS website.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                    <ul class="tm-footer-links pl-0">
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                        <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li class="mb-2"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                        <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                    <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                    <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    Copyright 2020 Catalog-Z Company. All rights reserved.
                </div>
                <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                    Designed by <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored" target="_parent">TemplateMo</a>
                </div>
            </div>
        </div>
    </footer> -->
    
    <script src="/static/consumer/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>

    <script>
        $('button:contains("Purchase")').on('click', function(){
            var game_id = $(this).attr('id');

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            var con_id = urlParams.get('con_id');

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth()+1).padStart(2, '0');
            var yyyy = today.getFullYear();

            today = mm + ' ' + dd + ' ' + yyyy;
            
            $.ajax({
                url : '/consumer/purchase',
                type: 'POST',
                dataType: 'json',
                data: jQuery.param({
                    game_id : game_id,
                    con_id : con_id, 
                    date: today
                }),
                success: function(response){
                    var state = response.state;

                    if(state == 'successful'){
                    $('#success .prompt').empty().append('Purchase Completed!');
                    $('#success').css('display', 'block');
                    }
                }
            })
        });
    </script>

<script>
    $('.modal-confirm .close-button').on('click', function(){
      $('.modal-confirm').css('display', 'none');
    });

</script>
</body>
</html>