<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/login/login.css">
 
  <!-- jQuery CDN Link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Transparent form</title>
  <style>
        body {
            background-image: url('/static/login/bg.jpg');
            background-size: cover 
        }
  </style>
</head>
 
<body>
  <div class="container">
    <div class="form">
      <div class="btn">
        <button class="signUpBtn">SIGN UP</button>
        <button class="loginBtn">LOG IN</button>
      </div>
      <form class="signUp" action="/" method="post">
        <input type="hidden" name="form_type" value="register">
        <div class="formGroup">
          <input type="text" id="username" name="username" placeholder="User Name" autocomplete="off">
        </div>
        <div class="formGroup">
          <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">
        </div>
        <div class="formGroup">
          <input type="password" id="confirmPassword" placeholder="Confirm Password" required autocomplete="off">
        </div>
        <div class="formGroup">
          <button type="submit" class="btn2" name="register">REGISTER</button>
        </div>
 
      </form>
        
      <!------ Login Form -------- -->
      <form class="login" action="/" method="post">
        <input type="hidden" name="form_type" value="login">
        
        <div class="formGroup">
          <input type="text" id="username" placeholder="User Name" name="username" required autocomplete="off">
        </div>
        <div class="formGroup">
          <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">
         
        </div>

        <div class="formGroup">
          <button type="submit" class="btn2" name="login">LOG IN</button>
        </div>
 
      </form>
 
    </div>
  </div>
 
  <script src="/static/login/jQuery.js"></script>
</body>
 
</html>
